.column {
  width: 500px;
  float: right;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
ul {
  font-size: 20px
}
.panel-title {
  font-size: 20px
}
img {
float: left;
}
.nav-item {
font-size: 20px
}
.jumbotron {
  color: blue
}
